.home {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
    padding: 50px;
}

.subtitle {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 25px;
    text-align: center;
}

.data {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.home-label {
    font-weight: bold;
    font-size: 12px;
    color: #303030;
    margin-bottom: 5px;
}

.home-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--light-gray);
}

.select-btn {
    padding: 10px;
    width: 15%;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    border-radius: 15px;
}

.home-btn:hover {
    transition: 0.3s all ease-in-out;
    background-color: var(--black);
}

.register-text {
    margin-top: 20px;
    font-size: 12px;
    color: var(--black);
}

.register-link {
    font-size: 14px;
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

.error-message {
    color: var(--red);
    font-size: 12px;
    margin-top: 10px;
}

.seperator-line {
    background: var(--purple);
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
    box-shadow: 0 4px 4px 0 var(--gray);
    height: 50px;
}

.empty-space {
    height: 5px;
}

.text {
    opacity: 1 !important;
    z-index: 2 !important;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.data-subtitle-left {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 25px;
    margin-left: 50px;
    text-align: left;
}

.data-subtitle-right {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 25px;
    margin-right: 50px;
    text-align: right;
}

.content-left {
    flex: 1; 
    margin-left: 50px;
    text-align: left;
}

.content-right {
    flex: 1; 
    margin-right: 50px;
    text-align: right;
}