.track-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.track-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-title {
    color: var(--black);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.track-subtitle {
    color: var(--gray);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.track-input {
    width: 300px;
    height: 33px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: var(--gray);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.track-button {
    background-color: var(--blue);
    color: var(--white);
}

.track-button:hover {
    transition: 0.5s all;
    background-color: var(--purple);
    color: var(--white);
}

.input-with-icon {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--gray);
}