.policy-container{
    padding: 50px;
    text-align: left;
}

.policy-container h1{
    font-size: 3rem;
    text-align: center;
}

.policy-container h2{
    font-size: 2.2rem;
}

.policy-container h3{
    font-size: 1rem;
}

.policy-container p{
    font-size: 1rem;
}

.policy-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.policy-picture img {
    width: 30%;
    height: auto;
}

