
.policy-container{
    padding: 50px;
}

.policy-container h1{
    font-size: 50px;
    text-align: center;
}

.policy-container h2{
    font-size: 30px;
}

.policy-container h3{
    font-size: 17px;
}


.policy-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}

.policy-picture img {
    width: 37.245678969%; /*The magic number*/
    height: auto;
}

