.register {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.register-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.register-subtitle {
    font-size: 1.1rem;
    color: var(--gray);
    margin-bottom: 60px;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-label {
    font-weight: bold;
    font-size: 0.8rem;
    color: #303030;
    margin-bottom: 5px;
}

.register-form-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--light-gray);
}

.register-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    border-radius: 15px;
}

.register-btn:hover {
    transition: 0.3s all ease-in-out;
    background-color: var(--black);
}

.register-text {
    margin-top: 20px;
    font-size: 0.8rem;
    color: var(--black);
}

.register-link {
    font-size: 0.8rem;
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

.error-message {
    color: var(--red);
    font-size: 1rem;
    margin-top: 10px;
}

.register-form-check-label {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--purple);
    padding: 5px;
}

/* Adjust styles for smaller screens (e.g., tablets and mobiles) */
@media only screen and (max-width: 767px) {

    .register {
        height: auto; /* Allow the height to adjust based on content */
        padding: 20px;
    }

    .register-form-container {
        max-width: 100%; /* Adjust the width to fit the screen */
    }

    .register-title {
        font-size: 1.5rem;
        margin-bottom: 10px; /* Adjust spacing for smaller screens */
    }

    .register-subtitle {
        font-size: 0.9rem;
        margin-bottom: 30px; /* Adjust spacing for smaller screens */
    }

    .register-form-label {
        font-size: 0.7rem;
        margin-bottom: 3px; /* Adjust spacing for smaller screens */
    }

    .register-btn {
        font-size: 0.9rem;
        margin-top: 15px; /* Adjust spacing for smaller screens */
    }

    .register-text {
        margin-top: 15px; /* Adjust spacing for smaller screens */
        font-size: 0.7rem;
    }

    .register-link {
        font-size: 0.7rem;
    }

    /* Add styles to prevent the image from going into the navbar */
    .your-navbar-class {
        overflow: hidden; /* Hide any content that overflows the navbar */
    }

    /* Add styles to prevent the form fields from going into the footer */
    .your-footer-class {
        overflow: hidden; /* Hide any content that overflows the footer */
    }
}
