.package-details {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.package-details h2 {
    color: var(--black);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.package-details h3 {
    color: var(--gray);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.package-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    color: var(--black);
    background-color: transparent;
    border-color: var(--gray);
}

.package-table .package-table-title {
    color: var(--black);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 20px;
}

.package-table .package-table-info {
    color: var(--purple);
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
}

.timeline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.stage-name {
    margin-top: 16px;
    text-align: center;
    color: var(--black);
    font-weight: bold;
}

.back-button {
    text-decoration: none;
    text-align: center;
    margin: 3rem;
    color: var(--purple);
}

.state-images {
    border: 2px solid var(--gray);
    border-radius: 15px;
    margin: 0 1%;
    padding: 10px;
}

.state-image {
    width: 150px;
    height: 150px;
}