.navbar {
    background: var(--purple);
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
    box-shadow: 0 4px 4px 0 var(--gray);
    height: 100px;
}

.navbar-logo-user {
    width: 110px;
    height: auto;
}

.navbar-logo-courier, .navbar-logo-admin {
    width: 160px;
    height: auto;
}

.nav-link {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.nav-link:hover {
    color: #303030;
    text-decoration: none;
}

.nav-item {
    margin-left: 20px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    z-index: 999;
  }

.logout-button {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.currency-image {
    width: 35px;
    height: 35px;
}