.contact-title {
    font-size: 48px;
    text-align: center; 
  }
  
  .contact-subtitle {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 25px;
    text-align: center;
  }
  
  .contact-data h2 {
    font-size: 20px;
    color: var(--blue);
    text-decoration: none; 
  }

  .instant-contact-button {
    margin-top: 20px;
    padding: 10px;
    width: 23%;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    border-radius: 15px;
}

.instant-contact-button:hover {
  transition: 0.3s all ease-in-out;
  color: var(--white);
  background-color: var(--black);
}
  
  .contact-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    text-decoration: none;
  }
  
  .contact-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-map {
    border-radius: 15px;
    overflow: hidden; 
  }
  
  .contact-ware-image {
    padding: 20px;
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  a {
    color: var(--blue); 
    text-decoration: none;
  }
  