.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.loading img {
    width: 15000px; /* Adjust the maximum width as needed */
    height: 150px; /* Adjust the maximum height as needed */
}
