
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-bottom: 20px;
}

.about-title {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.about-subtitle {
    font-size: 18px;
    color: #666; 
    margin-bottom: 25px;
    text-align: center;
}

.about-data{
    font-size: 18px;
    margin-top: 5px;
}

.about-people-data{
    font-size: 15px;
    color: var(--gray);
    
}

.about-people-link{
    font-size: 18px;
    text-decoration: none;
    color: var(--purple);
}

.about-content {
    text-align: left;
    padding: 20px;
}

.about-person-container {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
}

.about-logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.about-logo-column {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.about-logo-column img {
    max-width: 150px;
    height: auto;
}

.about-img-sze{
    width: 35%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.about-img-profile {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.about-img-right {
    float: right;
    justify-content: right;
    align-items: right;
    width: 65%;
    height: auto;
    clear: both;
}

.about-img-left {
    display: flex;
    float: left;
    justify-content: left;
    align-items: left;
    width: 65%;
    height: auto;
    clear: both;
}


