.custom-footer {
    background-color: var(--black);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
}

.container {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2rem;
}

.footer-left {
    text-align: left;
    display: inline;
    white-space: nowrap;
}

.address {
    margin-bottom: 10px;
}

.footer-right {
    text-align: right;
    display: inline;
    white-space: nowrap;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.copyright {
    margin: 1rem auto;
}

.footer-link {
    color: var(--blue);
    text-decoration: none;
}

.footer-link:hover {
    transition: all 0.3s ease-in-out;
    color: var(--purple);
}

.foot-logo {
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: block;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-right {
        text-align: center;
        margin-bottom: 1rem;
    }

    .social-links li {
        margin-right: 5px;
    }

    .foot-logo {
        width: 25%;
        margin-bottom: 25px;
    }
}