.home {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 25px;
    text-align: center;
}

.data {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-label {
    font-weight: bold;
    font-size: 12px;
    color: #303030;
    margin-bottom: 5px;
}

.home-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--light-gray);
}

.home-btn {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    border-radius: 15px;
}

.home-btn:hover {
    transition: 0.3s all ease-in-out;
    background-color: var(--black);
}

.register-text {
    margin-top: 20px;
    font-size: 12px;
    color: var(--black);
}

.register-link {
    font-size: 14px;
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

.error-message {
    color: var(--red);
    font-size: 12px;
    margin-top: 10px;
}

.seperator-line {
    background: var(--purple);
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
    box-shadow: 0 4px 4px 0 var(--gray);
    height: 50px;
}

.empty-space {
    height: 5px;
}

.text {
    opacity: 1 !important;
    z-index: 2 !important;
}

.background-image {
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%; 
    position: relative;
    animation: slide 12s infinite;
    /*opacity: 0.35;*/
    z-index: 1;
}


.data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-subtitle-left {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 25px;
    margin-left: 50px;
    text-align: left;
}

.data-subtitle-right {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 25px;
    margin-right: 50px;
    text-align: right;
}

.content-left {
    flex: 1; 
    margin-left: 50px;
    text-align: left;
}

.content-right {
    flex: 1; 
    margin-right: 50px;
    text-align: right;
}

.image-right {
    text-align: right; 
    padding: 50px;
    max-width: 80%;
    height: auto;
}

.image-left {
    text-align: left; 
    padding: 50px;
    max-width: 80%;
    height: auto;
}


/* Trusted by and awards section*/

.trusted-awards-container {
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.logo-column {
    flex: 1;
    padding: 10px;
}

.logo-column img {
    max-width: 80px;
    height: auto;
}




@keyframes slide {
    0% {
        background-image: url("../../assets/images/slider/1.webp");
    }
    25% {
        background-image: url("../../assets/images/slider/2.webp");
    }
    50% {
        background-image: url("../../assets/images/slider/3.webp");
    }
    75% {
        background-image: url("../../assets/images/slider/4.webp");
    }
    100% {
        background-image: url("../../assets/images/slider/1.webp");
    }
}
