@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --purple: #7F5AF6;
  --blue: #009FDB;
  --white: #EEEEEE;
  --black: #303030;
  --red: #E53A45;
  --green: #9BC53D;
  --gray: #8E9AAF;
  --light-gray: #E5E5E5;
}

* {
  cursor: none !important;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  border: none;
  border-radius: 15px;

  text-decoration: none;

  padding: 0.5rem 1rem;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-primary {
  background-color: var(--white);
  border: 3px solid var(--white);
}

.button-primary:hover {
  transition: 0.5s all;
  border: 3px solid var(--black);
  background-color: var(--black);
}

.button-primary .button-text {
  background: -webkit-linear-gradient(var(--purple), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-secondary {
  border: 3px solid var(--white);
  background-color: transparent;
}

.button-secondary:hover {
  transition: 0.5s all;
  border: 3px solid var(--black);
  background-color: var(--black);
}

.button-secondary .button-text {
  color: var(--white);
}

.button-accent {
  background-color: var(--purple);
  color: var(--white)
}

.button-accent:hover {
  transition: 0.5s all;
  background-color: var(--blue);
}

.link {
    color: var(--purple);
    text-decoration: none;
}

.link:hover {
    color: var(--blue);
}

/*Custom scrollbar*/

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
  border-radius: 8px !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: var(--gray) !important;
  border-radius: 8px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple) !important;
}

/* If the recognized device is a mobile device, hide the cursor and the scrollbar, and make every picture smaller */

/* If the recognized device is a mobile device */
@media only screen and (max-width: 767px) {
  * {
    cursor: none !important;
  }

  /* Hide the scrollbar on mobile devices */
  ::-webkit-scrollbar {
    display: none !important;
  }

  /* Adjust styles for images on mobile devices */
  img {
    max-width: 65%; /* Make images responsive */
  }
}

/* If the recognized device is a tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    cursor: none !important;
  }

  /* Hide the scrollbar on tablets */
  ::-webkit-scrollbar {
    display: none !important;
  }

  /* Adjust styles for images on tablets */
  img {
    max-width: 70%; /* Make images responsive */
  }
}