.login {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.login-subtitle {
    font-size: 1.1rem;
    color: var(--gray);
    margin-bottom: 20px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-label {
    font-weight: bold;
    font-size: 0.8rem;
    color: #303030;
    margin-bottom: 5px;
}

.login-form-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--light-gray);
}

.login-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    border-radius: 15px;
}

.login-btn:hover {
    transition: 0.3s all ease-in-out;
    color: var(--white);
    background-color: var(--black);
}

.register-text {
    margin-top: 15px;
    font-size: 0.8rem;
    color: var(--black);
}

.reset-text {
    font-size: 0.8rem;
    color: var(--black);
}

.register-link {
    font-size: 0.8rem;
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

.error-message {
    color: var(--red);
    font-size: 1rem;
    margin-top: 10px;
}