/* History.css */

.history-container {
    padding: 20px;
}

.history-container h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
}

.history-container img {
    width: 20%;
    height: auto;
    margin: 0 auto;
}

.history-card {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.history-item {
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 5px;
}

.no-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 230px;
    margin-top: 100px;
  }
  
  .no-history img {
    max-width: 200px; /* Adjust the size as needed */
    margin-bottom: 20px;
  }

  .history-btn {
    margin-top: 20px;
    padding: 12px 15px;
    width: 100%;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    max-width: 300px;
}

.currency-dropdown {
    color: var(--black) !important;
}

.currency-dropdown:hover {
    color: var(--purple) !important;
}
